.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logon-container section.form {
  width: 100%;
  max-width: 350px;
}

.logon-container section.form form {
  margin-top: 100px;
}

.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

@media (max-width: 950px) {
  .logon-container {
    flex-direction: column;
    padding: 32px 10px;
  }
  
  .logon-container section.form {
    max-width: 480px;
  }

  .logon-container section.form form {
    margin-top: 32px;
  }

  .logon-container img {
    max-width: 100%;
    padding: 10px;
  }
}